
$color-fondo: rgb(19, 18, 18);

$color-texto: white;

$links-estilo: white;

$cartas-texto: rgb(117, 10, 10) ;

.cartas{
    
    width: 500px; }
    
    .imagenes--cartas img{
    
    max-width: 500px;
    height: 400px;
      
    }

.card-text{

 color: $cartas-texto;
}