$color-fondo: rgb(19, 18, 18);

$color-texto: white;

$links-estilo: white;

$cartas-texto: rgb(117, 10, 10) ;

$galeria-p: rgb(236, 230, 230);


/*MIXINS------------------*/

@mixin sizes {
  width: 500px;
  margin-right: 0%;
}

/*EXTEND-------------------*/

.bordes-imagenes1
{
border: 2px solid rgb(255, 0, 0);
}

.bordes-imagenes2
{
  border: dashed 2px white;
}

@import"cartas";



@import"mapas.scss";

* {
    padding: 0px;
    margin: 0px;
    }
    
    header{
      padding: 0px !important;
      margin: 0px !important;
    }

    footer{

      padding: 0px !important;
      margin: 0px !important;
    }
    
    body{
      background-color: black !important;
    }
    /*index---------------------------------------------------------------*/
    
     a{
      text-decoration: none;
      color: map-get($palette , primary);
    
     };
 
    
    
    
    /*HEADER------------------------------------------------------------------*/
    
    header{
      background-image:
       url(../assets/imagenes/istockphoto-932263998-612x612.jpg);
      height: 60px;
    
    font-family: 'Lobster Two', cursive;
    color: map-get($palette , primary);
    font-size:120%;
    
    
       
      }
    
    .animate__shakeY{
      animation-name: animate__pulse ;
      animation-duration: 5s;
      animation-delay: 1s;
    }
    
    
    /*NAV--------------------------------------------------------------------*/
    
    
    .button-container{
    
      display: flex; 
      padding: 5px;
     justify-content:center;
      font-weight: bold;
    height: 60px;
    flex-direction:row;
    align-items: flex-end;
    height: 100px;
    
    }

    
    
    /*MAIN TEXT--------------------------------------------*/
    
    h2{
    
    color: map-get($palette , primary);
    padding-left: 15px;
    }
    
    .Parrafo-1{
    
    padding-left: 15px;  
    margin-top: 20px;  
    display: inline-block;
    width: 70%;
    height: 70%;
    }
    
    
    /*MAIN TEXT 2--------------------------------------------*/
    
    
    .parrafo-2{
      
      margin-top: 20px;  
      display:block;
      width: 280px;;
      height: 150px;
    text-align: start;
    font-size: 14px;
    }
    
    .lista-tatus{
    
    display: flex;
    padding-left: 15px;
    flex-direction: row;
    width: 500px;
    height: 200px;
    
    
    
     li{
    
      list-style: none;
      display:inline-flex;
      width: 80px;
      height: 50px;
      text-align:center;
      border: 1px solid;
     }
    }
    
    /*ASIDE---------------------------------------------------------*/
    
    aside{
    background-color: rgba(220, 20, 60, 0.064);
    display: flex;
    flex-direction: column;
    
    height: 100%;
    border: 1px solid;
    font-size: 16px;
    width: 80%;
    margin-left: 20%;
    
    }
    
    .datos-curiosos{
      padding-top: 5px;
    
    
    
      li{
      padding-top: 5px;
      padding-left: 8px;
      border-top: 1px solid;
      
      }
      
      p{
        padding-left: 10px;
        padding-top: 0px;
        border-top: dotted;
        margin-top: 40px;
        padding-bottom: 5px;
        border-bottom: dotted;
        }
    }
    /*footer-----------------------------------------------------------*/
    
    .footer-text{
    
    
    margin-top: 20px;
    border-top: 2px solid white;
    text-align: center;
    }
    
    
    
    
    
    
    
    
    
    /*simbolismos----------------------------------------------------------*/
    
    
    .top--container{
      display: flex; 
      padding: 5px;
     justify-content:center;
      font-weight: bold;
    height: 100px;
    flex-direction:row;
    margin-top: 40px;
    margin-bottom: 40px;
    
      li{
        background-color:rgb(0, 0, 0);
        width: 100px;
        height: 20px;
        margin: 10px;
        text-align: center;
        border: 2px solid;
        width: 150px;
        height: 20px;
        font-style: italic;
        display: inline-block;
      
      }
      
      img{
      position: relative;
      left: 20%;
      height: 300px;
      width: 320px;
      border: 1px solid red;
      display: flex;
      
      }
    }
    
    
    .imagenestop--container{
      p{
      
        width: 180PX;
        margin-left: 20px;
        height: 240px;
        border: 3px dashed white;
        text-align: center;
        margin-top: 5px;
      position: relative;
      left: 40px;
      margin-bottom: 40px;
      }
  }
    
    
    
    .contacto--container{
      
      p{
      
        margin-bottom: 60px;
        margin-left: 1%;
        color: white;
      }
      
      legend{
      
      color: gray;
      
      }
  }
    
    
    
    .texto--estilos{
    display: grid;
    grid-template-columns:  1fr 1fr ;
    height: 80%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
      div{
      border: 3px rgba(207, 1, 1, 0.476) ;
      border-style:groove;
      margin: 10px;
     min-width: 50%;
      }
      
      h3{
      
      font-size: 20px;
      text-align: center;
      font-family: cursive;
      color: rgba(255, 0, 0, 0.671);
      
      }
      p{
        padding-top: 10px;
        text-align:justify;
        color: white;
      
      }
  }
    
    
    .comentario{
    
    font-size: 15px;
    color: gray;
    }
    
  
  
    /*SIMBOLISMOS------------------------------------------------------------*/
    .lista-tattoo{
    
      margin-left: 1%;
      margin-bottom: 15px;  
     
        li{
        list-style: none;
        padding: 10px;
        font-size: medium;
        border: 2px solid white;
        color: white;
        }
    }
      
      .cartas{
      
      width: 500px;
      
      }
    /*BOOTSTRAP--------------------------------------------------------------*/
    .navbar-brand{
    
      font-family: 'Lobster Two', cursive;
    }
    
    .texto-parrafo{
    
    font-size: larger;
    color: white;
    }
    
    .parrafo--1{
    
    background-color: map-get($palette , dark);
    padding-bottom: 30px;
    }
    
    .subtitulo--1{
    
    color: white;
    
    }
    
    .subtitulo-2{
    
    font-size:160%;
    margin-top: 15px;
    color: white;
    }
    .subtitle2-color{
      background-color: rgb(34, 31, 27);
    }
    
    .carousel-item {
      img{
      
      height: 350px;  
      width: 300;  
      } 
  }
    
    .carrusel{
    
    padding-top: 20px;
    background-color: map-get($palette,dark);
    height: 500px;
    }
    .carousel-caption {
      p{
      
      color: rgb(255, 255, 255);
      font-weight: bolder;
      } 
  }
    
    .nav{
    
      background: rgb(100,104,105);
      background: linear-gradient(0deg, rgb(22, 23, 24) 0%, rgba(65,64,64,1) 100%);
               
      a{
      
      font-style: none;
      color: white;
      }
  }
    
    .texto-link{
    
    background-color: black;
    color: white;
    padding-top:10px ;
    font-size: small;
    
    padding-bottom: 5px;
    
    }
    
    .aside{
    
    color: white;
    background-color: rgb(34, 31, 27);
    font-size: 160%;
    padding: 5px;
    padding-top: 10px;
    
    }
    
    .aside-color{
    
    background-color: black;
    margin-left: 0%;
    margin-right: 0px;
    
    }
    
    .texto-datos {

    li{
    color: white;
    padding: 10px;
    border-bottom: 1px solid gray;
    }
    
     p{
     color: white;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px dashed rgb(31, 30, 30);
    }
  }
    
    .footer--text{
    color: white;
    font-size: smaller;
    padding-top: 20px;
    }
    
    .footer-container{
    
    background-color: black;
    border-top: 2px solid grey;
    
    
    }
    
    .redes{
    
    color:$color-texto;
    
    }
    
    .texto--tattoo {     
      p{
      
      color: white;
      
      }
      
      h3{
      
      font-size:larger;
      color: white;
      padding-top: 5px;
      
      }
  }
    
  //CONTACTO----------------//
  
  input{

  color: $color-texto;
  
  }

  .boton-comentario{

  color: black;
  
  }
    
    
    /*HERRAMIENTAS------------------------------------------------*/

    .Subtitulo {

    color: $color-texto;
    
    }

    .imagenes-herramientas{
     
     img{
     border: 2px white solid;
      margin: 1%;
      width: 40vw;
      min-height: 60vh;
     }

     button{
   
      background-color: rgba(7, 7, 78, 0.678);
      font-family: 'Libre Baskerville', serif;
      border-radius: 15%;
     
     }

     a{
      background-color: rgba(7, 7, 78, 0.678);
      font-family: 'Libre Baskerville', serif;
      border-radius: 15%;

     }
    
    }

    .tipos--pieles{

      h3{
        color:map-get($palette,secondary) ;
      }

      p{
        color: $color-texto;        
      }

    }

  
    
