$color-fondo: rgb(19, 18, 18);

$color-texto: white;

$links-estilo: white;

$cartas-texto: rgb(117, 10, 10) ;

$galeria-p: rgb(236, 230, 230);


/*MIXINS------------------*/

@mixin sizes {
  width: 500px;
  margin-right: 0%;
}

/*EXTEND-------------------*/

.bordes-imagenes1
{
border: 2px solid rgb(255, 0, 0);
}

.bordes-imagenes2
{
  border: dashed 2px white;
}

@import"cartas";



@import"mapas.scss";

* {
    padding: 0px;
    margin: 0px;
    }
    
    header{
      padding: 0px !important;
      margin: 0px !important;
    }

    footer{

      padding: 0px !important;
      margin: 0px !important;
    }
    
    body{
      background-color: black !important;
    }
    /*index---------------------------------------------------------------*/
    
     a{
      text-decoration: none;
      color: map-get($palette , primary);
    
     };
    /*GRID INDEX------------------------------------------------------------
    
    .index-layout{
    
      
      width: 100%;
      display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: repeat( 9 , 1fr) 75px;
    }
    
    
    .header{
    grid-column: 1/8;
    grid-row: 1/2;
    
    };
    
    .nav{
    grid-column: 2/6 ;
    grid-row:1/2;
    
    }
    
    
    
    .main{
    
    
    grid-column: 1/3;
    grid-row: 3/6;
    }
    
    
    .main2{
    grid-column: 1/3;
    grid-row: 6/10;
    
    }
    
    
    
    /*HEADER------------------------------------------------------------------*/
    
    header{
      background-image:
       url(../assets/imagenes/istockphoto-932263998-612x612.jpg);
      height: 60px;
    
    font-family: 'Lobster Two', cursive;
    color: map-get($palette , primary);
    font-size:120%;
    
    
       
      }
    
    .animate__shakeY{
      animation-name: animate__pulse ;
      animation-duration: 5s;
      animation-delay: 1s;
    }
    
    
    /*NAV--------------------------------------------------------------------*/
    
    
    .button-container{
    
      display: flex; 
      padding: 5px;
     justify-content:center;
      font-weight: bold;
    height: 60px;
    flex-direction:row;
    align-items: flex-end;
    height: 100px;
    
    }

    /*
    .button-container{
     div{
    
      background: rgb(100,104,105);
      background: linear-gradient(0deg, rgb(22, 23, 24) 0%, rgba(65,64,64,1) 100%);
      width: 100px;
      height: 20px;
      margin-left: 15px;
      text-align: center;
      border: 2px solid;
      width: 150px;
      height: 20px;
      font-style: italic;
      display:inline-block;
      cursor: pointer;
      transition: all 1s;
      &:hover{color: rgba(207, 1, 1, 0.476);
        background: rgba(65, 59, 59, 0.801);}
     }
    }  
 
    
    /*MAIN TEXT--------------------------------------------*/
    
    h2{
    
    color: map-get($palette , primary);
    padding-left: 15px;
    }
    
    .Parrafo-1{
    
    padding-left: 15px;  
    margin-top: 20px;  
    display: inline-block;
    width: 70%;
    height: 70%;
    }
    
    
    /*MAIN TEXT 2--------------------------------------------*/
    
    
    .parrafo-2{
      
      margin-top: 20px;  
      display:block;
      width: 280px;;
      height: 150px;
    text-align: start;
    font-size: 14px;
    }
    
    .lista-tatus{
    
    display: flex;
    padding-left: 15px;
    flex-direction: row;
    width: 500px;
    height: 200px;
    
    
    
     li{
    
      list-style: none;
      display:inline-flex;
      width: 80px;
      height: 50px;
      text-align:center;
      border: 1px solid;
     }
    }
    
    /*ASIDE---------------------------------------------------------*/
    
    aside{
    background-color: rgba(220, 20, 60, 0.064);
    display: flex;
    flex-direction: column;
    
    height: 100%;
    border: 1px solid;
    font-size: 16px;
    width: 80%;
    margin-left: 20%;
    
    }
    
    .datos-curiosos{
      padding-top: 5px;
    
    
    
      li{
      padding-top: 5px;
      padding-left: 8px;
      border-top: 1px solid;
      
      }
      
      p{
        padding-left: 10px;
        padding-top: 0px;
        border-top: dotted;
        margin-top: 40px;
        padding-bottom: 5px;
        border-bottom: dotted;
        }
    }
    /*footer-----------------------------------------------------------*/
    
    .footer-text{
    
    
    margin-top: 20px;
    border-top: 2px solid white;
    text-align: center;
    }
    
    
    
    
    
    
    
    
    
    /*simbolismos----------------------------------------------------------*/
    
    
    .top--container{
      display: flex; 
      padding: 5px;
     justify-content:center;
      font-weight: bold;
    height: 100px;
    flex-direction:row;
    margin-top: 40px;
    margin-bottom: 40px;
    
      li{
        background-color:rgb(0, 0, 0);
        width: 100px;
        height: 20px;
        margin: 10px;
        text-align: center;
        border: 2px solid;
        width: 150px;
        height: 20px;
        font-style: italic;
        display: inline-block;
      
      }
      
      img{
      position: relative;
      left: 20%;
      height: 300px;
      width: 320px;
      border: 1px solid red;
      display: flex;
      
      }
    }
    
    
    .imagenestop--container{
      p{
      
        width: 180PX;
        margin-left: 20px;
        height: 240px;
        border: 3px dashed white;
        text-align: center;
        margin-top: 5px;
      position: relative;
      left: 40px;
      margin-bottom: 40px;
      }
  }
    
    
    
    .contacto--container{
      p{
      
        margin-bottom: 60px;
        margin-left: 10px;
        color: white;
      }
      
      legend{
      
      color: gray;
      
      }
  }
    
    
    
    .texto--estilos{
    display: grid;
    grid-template-columns:  1fr 1fr ;
    height: 80%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
      div{
      border: 3px rgba(207, 1, 1, 0.476) ;
      border-style:groove;
      margin: 10px;

      }
      
      h3{
      
      font-size: 20px;
      text-align: center;
      font-family: cursive;
      color: rgba(255, 0, 0, 0.671);
      
      }
      p{
        padding-top: 10px;
        text-align:justify;
        color: white;
      
      }
  }
    
    
    .comentario{
    
    font-size: 15px;
    color: gray;
    }
    
    
    /*RESPONSIVE--------------------------------------------------------------*/
    /*
    @media screen and (max-width: 910px ) {
    
    .aside{ 
    
    height: auto;
    width: auto;
    font-size: 70%;
    margin-top: 0px;
    } 
    
    
    }
    
    
    @media  screen and (max-width: 616px)  {
    
    
    body{
    
    font-size: 12px;
    grid-template-rows: repeat(5 1fr);
    }
    
    header{
    width: 100%;
    grid-column: 1/8;
    }
    
    .nav{
    grid-column: 2/5 ;
    grid-row:1/2;
    width: 80%;
    
    }
    
    .main{
    
    
      grid-column: 1/4;
      grid-row: 2/3;
      width: 120%;
      display:flex;
      
      
      
       h2{
      
      color: rgb(255, 255, 255); 
      font-size: 1.9em ;
      width: 130%;
      }
    }
    
    .Parrafo-1{
    
    
    margin-top: 2%; 
    display:inline-block;
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-align: justify;
    margin: 0%;
    width: 110%;
    }
    
    .main2{
    grid-column: 1/3;
    grid-row: 3/5;
    }
    
    .lista-tatus{
    grid-column: 1/3;
    display: flex;
    
      
      ul{
      
      justify-content: space-around;
      width: 80%;
      }
    }
    
    .aside{
    grid-column: 1/5;
    grid-row: 5/7;
    margin-top: 10%;
    display: flex;
    width: 110%;
    font-size: 1em;
    justify-content: flex-start;
    
      h2{
      
      font-size: 1em;
      width: 100%;
      }
  }
    
    .datos-curiosos{
    font-size: 0.8em;
    width: 100%;
    
    
  
    li{
    padding-top: 5px;
    border-top: 1px solid;}

    }
    
    aside{
      width:100%;
      margin-left: 2%;
      height:fit-content;
      font-size: 1.2em;
      }
    
    }
  
    /*SIMBOLISMOS------------------------------------------------------------*/
    .lista-tattoo{
    
      margin-left: 1%;
      margin-bottom: 15px;  
     
        li{
        list-style: none;
        padding: 10px;
        font-size: medium;
        border: 2px solid white;
        color: white;
        }
    }
      
      .cartas{
      
      width: 500px;
      
      }
    /*BOOTSTRAP--------------------------------------------------------------*/
    .navbar-brand{
    
      font-family: 'Lobster Two', cursive;
    }
    
    .texto-parrafo{
    
    font-size: larger;
    color: white;
    }
    
    .parrafo--1{
    
    background-color: map-get($palette , dark);
    padding-bottom: 30px;
    }
    
    .subtitulo--1{
    
    color: white;
    
    }
    
    .subtitulo-2{
    
    font-size:160%;
    margin-top: 15px;
    color: white;
    }
    .subtitle2-color{
      background-color: rgb(34, 31, 27);
    }
    
    .carousel-item {
      img{
      
      height: 350px;  
      width: 300;  
      } 
  }
    
    .carrusel{
    
    padding-top: 20px;
    background-color: map-get($palette,dark);
    height: 500px;
    }
    .carousel-caption {
      p{
      
      color: rgb(255, 255, 255);
      font-weight: bolder;
      } 
  }
    
    .nav{
    
      background: rgb(100,104,105);
      background: linear-gradient(0deg, rgb(22, 23, 24) 0%, rgba(65,64,64,1) 100%);
               
      a{
      
      font-style: none;
      color: white;
      }
  }
    
    .texto-link{
    
    background-color: black;
    color: white;
    padding-top:10px ;
    font-size: small;
    
    padding-bottom: 5px;
    
    }
    
    .aside{
    
    color: white;
    background-color: rgb(34, 31, 27);
    font-size: 160%;
    padding: 5px;
    padding-top: 10px;
    
    }
    
    .aside-color{
    
    background-color: black;
    margin-left: 0%;
    margin-right: 0px;
    
    }
    
    .texto-datos {

    li{
    color: white;
    padding: 10px;
    border-bottom: 1px solid gray;
    }
    
     p{
     color: white;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px dashed rgb(31, 30, 30);
    }
  }
    
    .footer--text{
    color: white;
    font-size: smaller;
    padding-top: 20px;
    }
    
    .footer-container{
    
    background-color: black;
    border-top: 2px solid grey;
    
    
    }
    
    .redes{
    
    color: white;
    
    }
    
    .texto--tattoo {     
      p{
      
      color: white;
      
      }
      
      h3{
      
      font-size:larger;
      color: white;
      padding-top: 5px;
      
      }
  }
    
  //CONTACTO----------------//
  
  input{

  color: $color-texto;
  
  }

  .boton-comentario{

  color: black;
  
  }
    
    
    /*HERRAMIENTAS------------------------------------------------*/

    .Subtitulo {

    color: $color-texto;
    
    }

    .imagenes-herramientas{
     
     img{
     border: 2px white solid;
      margin: 1%;

     }

     button{
   
      background-color: rgba(7, 7, 78, 0.678);
      font-family: 'Libre Baskerville', serif;
      border-radius: 15%;
     }
    }

  
    
