$color-fondo: rgb(19, 18, 18);

$color-texto: white;

$links-estilo: white;

$cartas-texto: rgb(117, 10, 10) ;

$galeria-p: rgb(236, 230, 230);


$palette:(
primary: white,

secondary:rgb(117, 10, 10),

dark: black,

_red: rgba(255, 0, 0, 0.671),
);