
$color-fondo: rgb(19, 18, 18);

$color-texto: white;

$links-estilo: white;

$cartas-texto: rgb(117, 10, 10) ;

$galeria-p: rgb(236, 230, 230);



.imagenes--cartas img {
    width: 500px;
    height: 400px;
  }
  
  /*GALERIA-------------------------------------------------*/
  .imagenes--galeria {
    margin: 10px;
  }
  
  .imagenes--galeria  {
    border: 2px dashed white;

        p{
      color: $galeria-p ;
         }
  }
  
  .imagenes--galeria img {
    
    width: 200px;
  }